<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Genero</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr cliente>
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.first_name|uppercase}}</td>
        <td>{{cliente.last_name|uppercase}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.gender|uppercase}}</td>
        <td><img [src]="cliente.image =='' ?'/assets/noimagen.png':cliente.image" class="card-img-top" width="30" height="30"></td>

      </tr>
  </table>
